<%= render 'shared/header' %>

<main>
  <div class="container">
    <div class="side-bar">

    </div>
    <div class="notifications-wrapper">
      <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
      <% if notifications.exists? %>
        <% notifications.each do |notification| %>
          <% visitor = notification.visitor %>
          <div class="notification">
            <p>
              <%= visitor.nickname %>さんがあなたの投稿にコメントしました。
            </p>
          </div>
        <% end %>
      <% else %>
        <div class="notification">
          <p>通知はありません</p>
        </div>
      <% end %>

      <% if unchecked_notifications.any? %>
        <div class="reset-notifications">
            <%= link_to "既読にする", notifications_reset_path, method: :post %>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= render 'shared/footer' %>