<header>
  <div class="header-wrapper">
    <div class="header-logo"></div>
    <div class="header-nav">
      <ul class="header-lists">
        <li class="header-list">
          <%= link_to "ユーザー名" %>
        </li>
        <li class="header-list">
          <%= link_to "お知らせ" %>
        </li>
        <li class="header-list">
          <%= link_to "新規投稿" %>
        </li>
        <li class="header-list">
          <%= link_to "ログアウト" %>
        </li>
      </ul>
    </div>
  </div>
</header>