  <div class="form-container">
    <div class="form-heading">
      <h3>投稿する</h3>
    </div>
    <%= form_with  url: posts_path, local: true do |f| %>
      <div class="post-form-wrapper">
        <%= f.label :text %>
        <%= f.text_area :text, rows: "6", class: "post-textarea" %>
        <%= f.submit "投稿", class: "post-submit" %>
      </div>
    <% end %>
  </div>