  <div class="form-container">
    <%= form_with  model: @post, local: true do |f| %>
      <div class="post-form-wrapper">
        <%= f.label :text, "投稿する" %>
        <%= f.text_area :text, rows: "6", class: "post-textarea" %>
        <%= f.submit "投稿", class: "post-submit" %>
      </div>
    <% end %>
  </div>