<div class="post">
  <div class="post-upper">
    <div class="post-img"></div>
      <div class="text-box">
      <div class="user-nickname">
        <%= link_to post.user.nickname %>
      </div>
      <div class="text">
        <p>
        <%= post.text %>
        </p>
      </div>
    </div>
  </div>
  <div class="post-lower">
    <div class="likes">
      <%= link_to "like" %>
    </div>
  </div>
</div>