<%= render 'shared/header' %>

<main>
  <div class="container">
    <div class="side-bar">

      <%= render 'form' %>
      
    </div>
    <div class="posts-wrapper">
    
      <%= render partial: 'post', collection: @posts %>

    </div>
  </div>
</main>

<%= render 'shared/footer' %>