.field {
  margin-bottom: 10px;
}

.field:first-of-type {
  margin-top: 10px;
}

.field input {
  border: 1px solid #333;
  padding: 3px;
}

.actions input {
  border: 1px solid #333;
  padding: 5px;
  margin-bottom: 10px;
}